
//-- Pallet -- //
$darkest: #384D48;
$dark: #466365;
$neutral: #93A8AC;
$light: #E0E2DB;
$pop-yellow: #FAF33E;
$pop-green: #06D6A0;

//--- Fonts---//
//Header
@import url('https://fonts.googleapis.com/css?family=Didact+Gothic&display=swap');
//font-family: 'Didact Gothic', sans-serif;

//<P> Misc
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
//font-family: 'Quicksand', sans-serif;


body {
  background-color: black;
  height: 100vh;
}

.hero {
  background-repeat:no-repeat;
  background-size: cover;
  background-attachment:fixed;
  background-position:center;
  min-height:60vh;
  text-align:center;
  color:white;
  text-shadow:1px 1px 1px black;
  line-height:60vh;
  }

  //--Nav Bar --//

  .Nav-style {
    font-family: 'Didact Gothic', sans-serif;
    // background-color: $light;
    
    text-transform: uppercase;
    text-align: center;
  }


.filtercontainer {
  text-align: center;

  .searchcontainer {
    text-align: center;
  }

  p {
    color: $light;
    font-family: 'Didact Gothic', sans-serif;
  }
  
  .search-input {
  background-color: $light;
  font-family: 'Didact Gothic', sans-serif;
  flex-direction: column;

  }
  .filtered {
    // background-color: $dark;
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
  }
  
}

.gymcard {
border: 3px solid $light;
margin-bottom: 5%;

.card-title {
  color: $light;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Didact Gothic', sans-serif;
}
.card-image {
  max-width: 100%;
  height: auto;
}
}



//Home page 

.Header {
color: $pop-green;
}

.hp-tab-style {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  color: $light;
  background-color: $darkest;
 
}



.hp-image {
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.homepagenav {
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// Login Page 

.formcontainer {
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: $light;
  text-transform: uppercase;
  font-family: 'Quicksand', sans-serif;
  display: flex;
  flex-direction: column;
  form {
    display: flex;
    justify-content: center;
  }
}

@media only screen and (max-width: 680px) {
  .formcontainer {
    // text-align: center;
    // position: fixed;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
  
    color: $light;
    text-transform: uppercase;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    form {
      display: flex;
      flex-direction: column;
    }
  }
}

