
//-- Pallet -- //
$darkest: #384D48;
$dark: #466365;
$neutral: #93A8AC;
$light: #E0E2DB;
$pop-yellow: #FAF33E;
$pop-green: #06D6A0;

//--- Fonts---//
//Header
@import url('https://fonts.googleapis.com/css?family=Didact+Gothic&display=swap');
//font-family: 'Didact Gothic', sans-serif;

//<P> Misc
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
//font-family: 'Quicksand', sans-serif;


body {
  height: 100vh;
}

.hero {
  background-repeat:no-repeat;
  background-size: cover;
  background-attachment:fixed;
  background-position:center;
  min-height:60vh;
  text-align:center;
  color:white;
  text-shadow:1px 1px 1px black;
  line-height:60vh;
  }

  main {
    display: flex;
  }


.filtercontainer {
  background-color: #06D6A0;
  
  .search-input {
  background-color: $neutral;
  flex-direction: column;
  }
  .filtered {
    background-color: $dark;
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
  }
  
}

.gymcard {
border: 5px solid black;
.card-image {
  max-width: 100%;
  height: auto;
}
}

.homepagenav {
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}



